.section {
  width: 100%;
  height: auto;
  padding: 0px 0px 48px 0px;
  // background-color: $color-darkBlue-base;

  .container {
    display: flex;
    flex-direction: column;
    // gap: 48px;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .faqTitle {
      font-family: $font-family-title;
      font-size: clamp(1.5rem, 1rem + 2.2222vw, 2rem);
      text-align: center;
      margin: 24px 0px;
    }

    .faqList {
      width: 100%;
      max-width: 800px;
    }
  }
}