<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinição de Senha</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: sans-serif; background-color: #eeeeee">
    <div
      style="
        background-color: #f2f2f2;
        max-width: 600px;
        margin: 40px auto;
        padding: 30px 30px 14px 30px;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      "
    >
      <div style="text-align: center; padding-bottom: 25px; border-bottom: 1px solid #e4e4e4">
        <h1 style="color: #060664; font-size: 28px; font-weight: bold; margin: 0">
          <img src="./logo_white_dg.svg" alt="Logo InteractiPlay" style="height: 50px" />
        </h1>
      </div>

      <div style="text-align: center; padding: 30px 0">
        <h2 style="color: #060664; font-size: 24px; font-weight: bold; margin-bottom: 20px">
          Redefina Sua Senha
        </h2>

        <p
          style="
            color: #060664;
            font-size: 16px;
            line-height: 1.6;
            max-width: 500px;
            margin: 0 auto 20px;
          "
        >
          Recebemos uma solicitação para redefinir a senha da sua conta. Para continuar, por favor,
          clique no botão abaixo.
        </p>

        <div
          style="
            background-color: #e4e4e4;
            border-left: 5px solid #231183;
            padding: 15px 20px;
            margin: 30px auto;
            max-width: 350px;
            text-align: left;
            border-radius: 4px;
          "
        >
          <p style="color: #060664; font-size: 14px; margin: 0">
            Este pedido foi feito para o e-mail:
          </p>
          <p style="font-size: 18px; font-weight: bold; color: #231183; margin: 5px 0 0">
            {{email}}
          </p>
        </div>

        <h2 style="font-size: 26px; color: #060664">Código de acesso</h2>
        <span
          style="
            font-size: 36px;
            padding: 16px 32px;
            background-color: #e4e4e4;
            border-left: 5px solid #231183;
          "
          >{{code}}</span
        ><br /><br />
        <a
          target="__blank"
          href="{{link}}"
          style="
            display: inline-block;
            padding: 15px 35px;
            margin-top: 10px;
            font-size: 18px;
            color: #f2f2f2;
            background-color: #231183;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
          "
        >
          Redefinir Minha Senha
        </a>

        <p
          style="
            color: #9c9c9c;
            font-size: 12px;
            line-height: 1.5;
            margin-top: 40px;
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
          "
        >
          Se você não solicitou esta redefinição de senha, por favor, ignore este e-mail. Sua senha
          não será alterada a menos que você clique no link acima.
        </p>
      </div>
      <div style="width: 100%; text-align: center">
        <hr style="border: none; border-top: 1px solid #e4e4e4" />
        <p>InteractiPlay - Sua plataforma de videos VSL</p>
      </div>
    </div>
  </body>
</html>
