upstream vendas {
  server vendas:3000;
}

upstream plataforma {
  server plataforma:3001;
}

upstream backend {
  server backend:4000;
}

server {
  listen 80;
  
  # Landing page de vendas (padrão)
  location / {
    proxy_pass http://vendas;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }

  # Plataforma administrativa
  location /dash {
    proxy_pass http://plataforma;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }

  # API Backend
  location /api {
    if ($http_x_frontend_token != "frontend") {
      return 403;
    }
    
    rewrite ^/api/(.*)$ /$1 break;

    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;

    proxy_pass http://backend;
  }

  # Webhook do Stripe
  location /data {
    rewrite ^/data/(.*)$ /$1 break;

    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;

    proxy_pass http://backend;
  }
}